<LightTable
  @table={{this.table}}
  @responsive={{true}}
  @tableClassNames="table table-hover table-clickable-rows mb-0"
  as |Table|
>
  <Table.head
    @sortOnClick={{false}}
    @multiColumnSort={{false}}
    @renderInPlace={{true}}
    @fixed={{false}}
  />
  <Table.body
      @canSelect={{false}}
      @canExpand={{false}}
      @onRowClick={{action "onRowClick"}}
      as |Body|
  >
    {{#if this.table.isEmpty}}
      <Body.no-data>No results found</Body.no-data>
    {{/if}}
  </Table.body>
  <Table.foot
    @canSelect={{false}}
    @canExpand={{false}}
    as foot>
    <tr>
      <td colspan={{columns.length}}>
        <div class="cust-search">
          <div class="title">
            Search:
          </div>
          <div>
            <select value={{selectedFilter}} class="form-control" onchange={{action (pipe (action (mut selectedFilter)) (action "onSearchChange")) value="target.value"}}>
              <option value="firstName">
                First Name
              </option>
              <option value="lastName">
                Last Name
              </option>
              <option value="company">
                Company
              </option>
              <option value="project">
                Project
              </option>
            </select>
            <input class="form-control" value={{query}} placeholder="search..." oninput={{action (pipe (action (mut query)) (action "onSearchChange")) value="target.value"}}>
          </div>
        </div>
      </td>
    </tr>
  </Table.foot>
</LightTable>