<LightTable
  @table={{this.table}}
  @responsive={{true}}
  @tableClassNames="table table-hover table-clickable-rows mb-0"
  as |Table|
>
  <Table.head
  @sortOnClick={{false}}
  @multiColumnSort={{false}}
  @renderInPlace={{true}}
  @fixed={{false}}
  />
  <Table.body
    @canSelect={{false}}
    @canExpand={{false}}
    as |Body|
  >
    {{#if this.table.isEmpty}}
      <Body.no-data>No results found</Body.no-data>
    {{/if}}
  </Table.body>
</LightTable>