<Page::Header @title="Customers" />
<Page::Content>
  <div class="d-flex justify-content-between align-content-center mb-3 form-inline">
    <h5 class="card-title">
      {{@model.length}} Results
    </h5>
    <div>
      <div class="cust-sort">
        <select class="form-control" onchange={{action (mut this.sortProperty) value="target.value"}}>
          <option value="fullName" selected={{eq this.sortProperty "fullName"}}>
            Sort by name
          </option>
          <option value="budget:desc" selected={{eq this.sortProperty "budget:desc"}}>
            Sort by budget
          </option>
        </select>
      </div>
    </div>
    <div class="card">
      <CustomersTable @model={{this.sortedCustomers}} />
    </div>
  </div>
</Page::Content>