.cust-search {
  display: inline-block;
  padding: 3px;
  margin-right: 5px;
  > div {
    display: inline-block;
  }
  select, input {
    padding-top: 0px;
    padding-bottom: 1px;
    height: 25px;
  }
}
.cust-sort {
  display: inline-block;
  padding: 3px;
  margin-right: 5px;
}