<Page::Header @title="Dashboard" />
<Page::Content>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="h5 card-title">At a glance</h5>
          <div class="row">
            <div class="col-md-6">
              <AagCustomersTotal @custTotal={{this.sortedCustomers.length}} />
            </div>
            <div class="col-md-6">
              <AagForecastedBudget @customers={{this.sortedCustomers}} />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="h5 card-title">Top prospects</h5>
          <TopProspectsTable @model={{this.sortedCustomers}} />
          <div class="dash-view-all">
            <a href="/customers">View all</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Page::Content>